<header class=" py-5 hea">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">

            <div class="col-lg-12 col-xl-12 col-xxl-12">
                <h1 class="display-5 fw-bolder text-black mb-2">TecnoApps Tu aliado digital para impulsar tu negocio</h1>
            </div>
            <div class="col-lg-5 col-xl-5 col-xxl-5">
                <div class="my-5 text-left text-xl-start ">
                    <p class="lead fw-normal fs-3 text-black-60 mb-4">
                        Somos una empresa especializada en el desarrollo de soluciones digitales a medida,
                        con un equipo altamente cualificado y apasionado por su trabajo. No esperes màs y lleva tu negocio
                        al siguiente nivel con TecnoApps.
                    </p>

                </div>
            </div>
            <div class="col-xl-7 col-xxl-7 d-none d-xl-block text-center">

                @* <img src="~/imagen/icon.png" style="width:400px" /> *@

                <div class="row">

                    <div class="col-12 bg-info-subtle p-2 m-3 rounded-3 shadow fs-5">
                        ¿Necesitas una aplicación móvil que revoluciones tu sector?
                    </div>
                    <div class="col-12 bg-info-subtle p-2 m-3 rounded-3 shadow fs-5">
                        ¿Quieres una pagina web moderna y atractiva?
                    </div>
                    <div class="col-12 bg-info-subtle p-2 m-3 rounded-3 shadow fs-5">
                        ¿Deseas una tienda onlineque impulse tus ventas?
                    </div>
                    <div class="col-12 bg-info-subtle p-2 m-3 rounded-3 shadow fs-5">
                        ¿Necesitas orientación tecnologicas para tu proyecto?
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-12 col-xxl-12">
                <div class="d-grid gap-3  justify-content-sm-center justify-content-xl-center ">
                    <p>
                        ¡TecnoApps es la solución prefecta para ti!
                    </p>
                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Contactanos</a>

                </div>
            </div>
        </div>
    </div>
</header>

<style>
    .hea {
        background: url("../imagen/fondo.png");
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>